USE [master]
GO
/****** Object:  Database [Questions]    Script Date: 01.08.2017 12:58:10 ******/
CREATE DATABASE [Questions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Questions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Questions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Questions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Questions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Questions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Questions]
GO
USE [Questions]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 01.08.2017 12:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Category_name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Correct_Answers]    Script Date: 01.08.2017 12:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correct_Answers](
	[Correct_Answer_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Question_ID] [smallint] NULL,
	[Correct_Answer] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Correct_Answers] PRIMARY KEY CLUSTERED 
(
	[Correct_Answer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incorrect_Answers]    Script Date: 01.08.2017 12:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incorrect_Answers](
	[Incorrect_Answer_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Question_ID] [smallint] NULL,
	[Incorrect_Answer] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Incorrect_Answers] PRIMARY KEY CLUSTERED 
(
	[Incorrect_Answer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 01.08.2017 12:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Question_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Category_ID] [smallint] NULL,
	[Question] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Correct_Answers]  WITH CHECK ADD  CONSTRAINT [FK_Correct_Answers_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
GO
ALTER TABLE [dbo].[Correct_Answers] CHECK CONSTRAINT [FK_Correct_Answers_Questions]
GO
ALTER TABLE [dbo].[Incorrect_Answers]  WITH CHECK ADD  CONSTRAINT [FK_Incorrect_Answers_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
GO
ALTER TABLE [dbo].[Incorrect_Answers] CHECK CONSTRAINT [FK_Incorrect_Answers_Questions]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Subjects] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Categories] ([Category_ID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Subjects]
GO
USE [master]
GO
